html {
    box-sizing: border-box;
    font-size: 100%;
    overflow: hidden;
}

*,:after,:before {
    box-sizing: inherit;
}

/* Estilo do corpo */
body {
    padding: 120px; 
    background-image: linear-gradient(#000000 2%,#000000 10% ,#94aee62a 100%);
    color:#DCDCDC;
    min-height: 150vh;
    text-align: center;
    font-family: "Roboto",sans-serif;
   
}

.logo {
    width: 151px;
    border-radius: 50%;
}

 
/* Estilizar o Link */
a {
    display: block;
    max-width: 550px;
    margin: 0 auto 19px;
    padding: 15px 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 2px solid 	#fff;
    text-decoration: none;
    transition: all .2s ease-in-out;
    border-radius: 50px;
}

a:hover {
    background-color:#9C9C9C;
}

.description {
    color:#fff;
    font-size: 18px;
}

